<div class="jumbotron">
    <h1>cebule.NET</h1>
    <p class="lead">W cebule.NET złożysz swój wymarzony komputer za grosze! Wystarczy założyć konto!</p>   
</div>


<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Dodaj procesor", "All", "Processor", null, new { @class = "btn btn-success" })
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>