<div class="jumbotron">
    <h1>cebule.NET</h1>
    <p class="lead">W cebule.NET złożysz swój wymarzony komputer za grosze! Wystarczy założyć konto!</p>   
</div>


<div class="row">
    <div class="col-md-4 homepage-item">
        Procesory
    </div>
    <div class="col-md-4 homepage-item">
        Płyty główne
    </div>
    <div class="col-md-4 homepage-item">
        Obudowy
    </div>
</div>
<div class="row">
    <div class="col-md-4 homepage-item">
        Zasilacze
    </div>
    <div class="col-md-4 homepage-item">
        Pamięć RAM
    </div>
    <div class="col-md-4 homepage-item">
        Karty graficzne
    </div>
</div>
<div class="row">
    <div class="col-md-4 homepage-item">
        Procesory
    </div>
    <div class="col-md-4 homepage-item">
        Płyty główne
    </div>
    <div class="col-md-4 homepage-item">
        Obudowy
    </div>
</div>