@model IEnumerable<MakeComputerShop.Bll.Dtos.ComputerCasingDto>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<div class="container">
    <hr />
    @if (!Model.Any())
    {
        <text>
            Nie ma żadnych obudów w bazie
        </text>
    }
    else
    {
        foreach (var computer_casing in Model)
        {
            @Html.Partial("_ComputerCasingListRow", computer_casing)
        }
    }
</div>