
@{
    ViewBag.Title = "Producents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Producents</h2>

<div class="container">
    @if (!Model.Any())
    {
        <text>
            Nie ma żadnych producentów w bazie
        </text>
    }
    else
    {
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td><a href=@product.Url>Item</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>*@
