@model IEnumerable<MakeComputerShop.Bll.Dtos.ProducentDto>
@{
    ViewBag.Title = "Producents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producents</h2>

<div class="container">
    @if (!Model.Any())
    {
        <text>
            Nie ma żadnych producentów w bazie
        </text>
    }
    else
    {
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <td>Name</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var producent in Model)
            {
                <tr>
                    <td>@Html.ActionLink(producent.Name,"Producent","Producent",new {id = producent.Id},null)</td>
                </tr>
            }           
            </tbody>
        </table>
    }

</div>




