@model MakeComputerShop.Bll.Dtos.ProcesorDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <hr/>
    @if (Model == null )
    {
        <text>
            Nie ma żadnych producentów w bazie
        </text>
    }
    else
    {
        <div class="item-homepage">
            <div class="row">
                @Html.Partial("_ProcesorDetails", Model)             
                                         
            </div>
        </div> 
        <div class="row">
            <div class="block-center">
                @Html.ActionLink("powrót", "All", "Processor", null , new { @class = "btn btn-primary" })       
                @Html.ActionLink("do koszyka", "AddToShopCart", "Processor", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }

</div>

