@model IEnumerable<MakeComputerShop.Bll.Dtos.SoundCardDto>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<div class="container">
    <hr />
    @if (!Model.Any())
    {
        <text>
            Nie ma żadnych producentów w bazie
        </text>
    }
    else
    {
        foreach (var soundCard in Model)
        {
            @Html.Partial("_SoundCardListRow", soundCard)
        }
    }

</div>
