@model MakeComputerShop.Bll.Dtos.SoundCardDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <hr />
    @if (Model == null)
    {
        <text>
            Nie ma żadnych producentów w bazie
        </text>
    }
    else
    {
        <div class="item-homepage">
            <div class="row">
                @Html.Partial("_SoundCardDetails", Model)
                <div class="row">
                    <div class="block-center">
                        @Html.ActionLink("powrót", "All", "SoundCard", null, new { @class = "btn" })
                        @Html.ActionLink("do koszyka", "AddToShopCart", "SoundCard", new { id = Model.Id }, new { @class = "btn" })
                    </div>
                </div>


            </div>
        </div>
    }

</div>

