@model IEnumerable<MakeComputerShop.Bll.Dtos.PowerSupplyDto>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<div class="container">
    <hr/>
    @if (!Model.Any())
    {
        <text>
            Nie ma żadnych zasilaczy w bazie
        </text>
    }
    else
    {
        foreach (var power_supply in Model)
        {
            @Html.Partial("_PowerSupplyListRow", power_supply)
        }
    }
</div>